<div class="card_bookmark">
  <div id="form_and_title">
    <h1>Create a new bookmark</h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, as: :radio_buttons %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
