.card_bookmark{
  background-color: rgb(246, 219, 113);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  height: 800px;

  h1 {
    color: rgb(62, 59, 51);
    margin-bottom: 25px;
  }

  #form_and_title{
    padding: 30px;
  }

}
